/**{
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
  }*/

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
  }
  ul li {
    display: inline-block;
    list-style-type: none;
  }
  ul li a {
    text-decoration: none;
    padding: 10px;
    color:  hsl(229, 31%, 21%);
  }
  ul li a:hover {
    background-color: red;
    padding: 5px 20px;
    color: #fff;
   
   text-align: center;
  }
  
  
  @media only screen and (max-width: 375px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
  
    .text {
        margin-top: 20px;
    }
  
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  
    ul li {
        margin: 10px;
    }
  }
  @media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
  
    .text {
        margin-top: 20px;
    }
  
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  
    ul li {
        margin: 20px;
    }
  }
  


  body {
    overflow-x: hidden;
  }
  .header{
    font-size: 40px;
    color: hsl(229, 31%, 21%);;
  }
  
  p{
    font-size: 18px;
    color: hsl(229, 8%, 60%);
  }
  .first-layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  
  .flex-column{
    margin: 10em 5em;
    padding: 2em 3em;
    align-items: center;
    gap: 1.8em;
  }
  #btn1{
    cursor: pointer;
    margin: 0.8em 0.8em 0.8em 0;
    border: none;
    padding: 1em 1.5em;
    color: #fff;
    border-radius: 5px;
    background-color: hsl(231, 69%, 60%);
    font-size: 18px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
  }

  #btn2 {
    cursor: pointer;
    margin: 0.8em 0.8em 0.8em 0;
    border: none;
    padding: 1em 1.5em;
    color: #000000;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1em;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
}
  
  #btn1:hover {
    background-color: #fff;
    color:black;
  }
  .shape{
    width: 500px;
    height:250px;
    background-color: hsl(231, 69%, 60%);
    border-radius: 100px 0px 0px 100px;
    position: relative;
      top: 230px;
      left: 200px;
  }
  
  .overlay{
    margin-top: -7em;
    position:relative;
    top:0;
    left: 0;
  }
  
  .MyImage{
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
   @media(max-width:768px){
    .first-layout{
        width:100%;
        display: flex;
        flex-wrap: wrap-reverse;
    }

   .overlay{
        margin: 1.0em 0.8em 8.2em 0.8em;
        padding:1.2em 2.4em;
    } 
   
 .MyImage{
    display: flex;
    justify-content: center;
    position: absolute;
   }
 .header-text{
    margin: 0em;
 }

 .header-text p{
    text-align: center;
    padding: 1.2em;
    font-size: 1.2em;
 }

  .header{
    font-size: 2em;
    color: hsl(229, 31%, 21%);
    text-align: center;
  } 
  
  
 .MyImage img{
    width:95%
 }

 .shape{
    position: relative;      
    width: 600px;
    height: 200px;
    background-color: hsl(231, 69%, 60%);
    border-radius: 100px 0px 0px 100px;
    z-index: -1;
    top: 280px;
    left:200px;
    
 } */
 .header-text{
    width: 100%;
 }
 
 .flex-column{
    margin:10em 0em;
    padding:0em;
    width:100%;
  }

.button{
    width:100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}
#btn1, #btn2{
    font-size:smaller;
    font-weight: 200;
    padding: 10px;
}
}

.section-b {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  display: flex;
  color: hsl(229, 31%, 21%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-p {
  color: hsl(229, 8%, 60%);
   width: 40%;
   text-align: center;
   line-height: 1.6;
   padding-left: 32%;
}

.sub {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  gap: 4rem;
  
}

.sub a {
  color:hsl(229, 8%, 60%);
  text-decoration: none;
  font-size: 18px;
  
}
.active{
  color: hsl(229, 31%, 21%) !important;
}

.my-hr {
  display: none;
}
.sub a:hover {
  color: rgb(239, 40, 40);
}

.horizontal-line {
  position: relative;
  top: -0;
}

.hr-1 {
  border: 2.4px solid hsl(0, 94%, 66%);
  width: 14rem;
  position: relative;
  right: 19rem;
  top: 1.5rem;
}
.hr-2 {
  border: 1px solid rgba(0, 0,0,0.185);
  width: 50rem;
  position: relative;
  top: 0.6rem;
  /* left: 3rem; */
}
.sub-hr{
  display: none;
  border: 1.5px solid hsl(229, 8%, 60%);
  width: 100vw;
}
@media only screen and (max-width: 600px){
  *{
      padding: 0;
      margin: 0;
  }
  .section-b {
      width: 100vw;
      text-align: center;
      font-family: sans-serif;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .my-p {
      width: 70vw;
      padding: 0 10px;
      text-align: center;
  }
  .main{
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 10px;
  }

  .sub{
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      /* row-gap: 0; */
      row-gap: 10px;
  }

  .horizontal-line {
      display: none;
      width: 100vw;
  }
  .hr-active{
      position: relative;
      border: 3px solid hsl(0, 94%, 66%);
      width: 40vw;
      margin-bottom: -11px;
  }
  .sub-hr{
      display: block;
      border: 1.5px solid hsl(229, 8%, 60%);
      width: 100vw;
  }

}
  
  
/* Section 3 Download the extension */
body {
  font-family: 'Rubik';
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.section-3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.section-3-text-container{
  width: 500px;
  height: 100px;
  margin-bottom: 5px;
  
}

.section-3-text-container h1{
  font-size: 2rem;
}

.section-3-text-container p{
  font-size: 1rem;
}

.extension {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.extension-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 340px;
  border-radius: 10px;
  margin-right: 50px;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.051), -1px -1px 10px rgba(0, 0, 0, 0.051);
}

.extension-container2{
  margin-top: 80px;
}

.textstyle{
  margin-bottom: 0;
}

.extension-container3{
  margin-top: 150px;
}

.extension-container .bg-dots {
  margin-top: 5px;
  width: 250px;
}

.install-button {
  padding: 10px 20px;
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.install-button:hover{
  background-color: #fff;
  color: hsl(231, 69%, 60%);
  text-decoration: none;
  border: 2px solid hsl(231, 69%, 60%);
}

@media screen and (max-width: 375px) {
  .extension {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 50px;
      height: 1200px;
    }

    .extension-container{
      margin-right: 0;
    }

    .extension-container2{
      margin-top: 0;
    }

    .extension-container3{
      margin-top: 0;
    }

  .section-3-text-container{
      width: 300px;
      height: 100px;
      
    }
  
    .section-3-text-container h1{
      font-size: 1.5rem;
    }
  
    .section-3-text-container p{
      font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Tablet view styles for Section 3 */
  .extension {
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 50px;
  }

  .extension-container2 {
      margin-top: 0;
  }

  .extension-container3 {
      margin-top: 0;
  }

  .section-3-text-container {
      width: 300px; 
      height: 340px; 
      margin-bottom: 20px; 
  }

  .section-3-text-container h1 {
      font-size: 1.8rem;
  }

  .section-3-text-container p {
      font-size: 1.2rem;
  }
}
