/**{
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
  }*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 100px;
}
ul li {
  display: inline-block;
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  padding: 10px;
  color: hsl(229, 31%, 21%);
}
ul li a:hover {
  background-color: red;
  padding: 5px 20px;
  color: #fff;

  text-align: center;
}
 /* Section 2: (Images and "Bookmark in one click" section)  Starts*/
 .sub-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: flex;
  margin-top: 150px;
  gap: 200px;
}

.sub-main_1 {
  grid-column: 1/2;
}
.sub-main_2 {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}
.txt {
  width: 400px;
}
/* .sub h1 {
  /* margin-top: 50px; */
*/

.tab-1 {
  height: 110%;
  width: 100%;
  position: relative;
  left: 20%;
  bottom: 90px;
}

.colour-box {
  background-color: hsl(231, 69%, 60%);
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 100px;
}

.sub button {
  background-color: hsl(231, 69%, 60%);
  color: white;
  outline: none;
  border: none;
  font-family: 'Rubik', sans-serif;
  border-radius: 5px 10px;
  width: 120px;
}

.sub button:hover {
  background-color: hsl(0, 94%, 66%);
}

/* Section 2: (Images and "Bookmark in one click" section)   Ends*/

@media only screen and (max-width: 375px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .text {
    margin-top: 20px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  ul li {
    margin: 10px;
  }
}
/* Section 2: (Images and "Bookmark in one click" section)   Starts */
@media screen and (max-width: 500px) {
  .sub-main{
      display: flex;
      flex-direction: column;
      gap: 50px;
  
  }
  .tab-1 {
      height: 120%;
      width: 95%;
      left: 30px;
      bottom: 30px;
  }
  
  .colour-box {
      height: 100%;
      width: 90%;
  }
  .sub-main_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .sub-main_2 button {
      display: none;
  }
  .txt {
    width: 91%;
    position: relative;
    left: 19px;
  }
  .sub p {
    line-height: 25px;
    /* letter-spacing: 1px; */
  }
  .sub h1 {
    font-size: 25px;
  }
 }
 
  @media screen and ((min-width: 500px) and (max-width: 940px)) {
    .tab-1 {
      height: 100%;
      width: 100%;
      left: 10%;
      bottom: 20%;
  }
  
  .colour-box {
      height: 100%;
      width: 85%;
  }
  .sub-main {
    display: flex;
    gap: 40px;
    text-align: center;
  }
  .sub-main_2 {
    text-align: left;
    width: 50%;
  }
  .sub-main_2 button {
  position: relative;
  left: 20px;    
  }
  .txt {
    width: 91%;
    position: relative;
    left: 19px;
  }
  .sub p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 15px;
  } 
  .sub h1{
  font-size: 25px;
  }
  }
  /*Section 2: (Images and "Bookmark in one click" section)   End*/
  

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .text {
    margin-top: 20px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  ul li {
    margin: 20px;
  }
}

body {
  overflow-x: hidden;
}
.header {
  font-size: 40px;
  color: hsl(229, 31%, 21%);
}

p {
  font-size: 18px;
  color: hsl(229, 8%, 60%);
}
.first-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.flex-column {
  margin: 10em 5em;
  padding: 2em 3em;
  align-items: center;
  gap: 1.8em;
}
#button1 {
  display: flex;
}
#btn1 {
  cursor: pointer;
  margin: 0.8em 0.8em 0.8em 0;
  border: none;
  padding: 0.5em 1.5em;
  color: #fff;
  border-radius: 5px;
  background-color: hsl(231, 69%, 60%);
  font-size: 0.9em;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

#btn2 {
  cursor: pointer;
  margin: 0.8em 0.8em 0.8em 0;
  border: none;
  padding: 0.5em 1.5em;
  color: #000000;
  border-radius: 5px;
  background-color: #fff;
  font-size: 0.9em;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

#btn1:hover {
  cursor: pointer;
  background-color: #fff;
  border: 2px solid hsl(231, 69%, 60%);
  color:hsl(231, 69%, 60%);
}

#btn2:hover {
  cursor: pointer;
  border: 2px solid #000000;
}
.shape {
  width: 500px;
  height: 250px;
  background-color: hsl(231, 69%, 60%);
  border-radius: 100px 0px 0px 100px;
  position: relative;
  top: 230px;
  left: 200px;
}

.overlay {
  margin-top: -7em;
  position: relative;
  top: 0;
  left: 0;
}

.MyImage {
  position: absolute;
  top: 0px;
  left: 0px;
}

@media (max-width: 768px) {
  .first-layout {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .overlay {
    margin: 1em 0.8em 8.2em 0.8em;
    padding: 1.2em 2.4em;
  }

  .MyImage {
    display: flex;
    justify-content: center;
    position: absolute;
  }
  .header-text {
    margin: 0em;
  }

  .header-text p {
    text-align: center;
    padding: 1.2em;
    font-size: 1.2em;
  }

  .header {
    font-size: 2em;
    color: hsl(229, 31%, 21%);
    text-align: center;
  }

  .MyImage img {
    width: 95%;
  }

  .shape {
    position: relative;
    width: 600px;
    height: 200px;
    background-color: hsl(231, 69%, 60%);
    border-radius: 100px 0px 0px 100px;
    z-index: -1;
    top: 280px;
    left: 200px;
  }
  */ .header-text {
    width: 100%;
  }

  .flex-column {
    margin: 10em 0em;
    padding: 0em;
    width: 100%;
  }

  #button1 {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
  }
  #btn1,
  #btn2 {
    font-size: smaller;
    font-weight: 200;
    padding: 10px;
  }
}

.section-b {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  display: flex;
  color: hsl(229, 31%, 21%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-p {
  color: hsl(229, 8%, 60%);
  width: 40%;
  text-align: center;
  line-height: 1.6;
  padding-left: 32%;
}

.sub {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  gap: 4rem;
}

.sub a {
  color: hsl(229, 8%, 60%);
  text-decoration: none;
  font-size: 18px;
}
.active {
  color: hsl(229, 31%, 21%) !important;
}

.my-hr {
  display: none;
}
.sub a:hover {
  color: rgb(239, 40, 40);
}

.horizontal-line {
  position: relative;
  top: -0;
}

.hr-1 {
  border: 2.4px solid hsl(0, 94%, 66%);
  width: 14rem;
  position: relative;
  right: 19rem;
  top: 1.5rem;
}
.hr-2 {
  border: 1px solid rgba(0, 0, 0, 0.185);
  width: 50rem;
  position: relative;
  top: 0.6rem;
  /* left: 3rem; */
}
.sub-hr {
  display: none;
  border: 1.5px solid hsl(229, 8%, 60%);
  width: 100vw;
}
@media only screen and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
  }
  .section-b {
    width: 100vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .my-p {
    width: 70vw;
    padding: 0 10px;
    text-align: center;
  }
  .main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }

  .sub {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* row-gap: 0; */
    row-gap: 10px;
  }

  .horizontal-line {
    display: none;
    width: 100vw;
  }
  .hr-active {
    position: relative;
    border: 3px solid hsl(0, 94%, 66%);
    width: 40vw;
    margin-bottom: -11px;
  }
  .sub-hr {
    display: block;
    border: 1.5px solid hsl(229, 8%, 60%);
    width: 100vw;
  }
}

/* Section 3 Download the extension */
body {
  font-family: "Rubik";
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.section-3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.section-3-text-container {
  width: 500px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 5px;
}

.section-3-text-container h1 {
  font-size: 2rem;
}

.section-3-text-container p {
  font-size: 1rem;
}

.extension {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-bottom: 50px;
}

.extension-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 340px;
  border-radius: 10px;
  margin-right: 50px;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.051),
    -1px -1px 10px rgba(0, 0, 0, 0.051);
}

.extension-container2 {
  margin-top: 80px;
}

.textstyle {
  margin-bottom: 0;
}

.extension-container3 {
  margin-top: 150px;
}

.extension-container .bg-dots {
  margin-top: 5px;
  width: 250px;
}

.install-button {
  padding: 10px 20px;
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.install-button:hover {
  background-color: #fff;
  color: hsl(231, 69%, 60%);
  text-decoration: none;
  border: 2px solid hsl(231, 69%, 60%);
}

@media screen and (max-width: 428px) {
  .extension {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 1200px;
  }

  .extension-container {
    margin-right: 0;
  }

  .extension-container2 {
    margin-top: 0;
  }

  .extension-container3 {
    margin-top: 0;
  }

  .section-3-text-container {
    width: 300px;
    height: 100px;
    margin-top: 50px;
  }

  .section-3-text-container h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .section-3-text-container p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Tablet view styles for Section 3 */
  .extension {
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .extension-container2 {
    margin-top: 0;
  }

  .extension-container3 {
    margin-top: 50px;
  }

  .section-3-text-container {

    width: 500px;
    height: 150px;
    margin-top: 50px;
  }

  .section-3-text-container h1 {
    font-size: 1.8rem;
  }

  .section-3-text-container p {
    font-size: 1.2rem;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}
.section-4 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
}
.frequently {
  font-size: 18px;
  font-weight: 600;
  padding: 0px;
}
.faqs {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(180, 180, 180);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
  padding: 0px 0px 25px;
  margin: 0px;
}
.content-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 244.32px;
  width: fit-content;
  box-sizing: border-box;
}
.content-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 145.17px;
  width: fit-content;
  box-sizing: border-box;
}
.content-3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 225.38px;
  width: fit-content;
  box-sizing: border-box;
}
.content-4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 113px;
  width: fit-content;
  box-sizing: border-box;
}
.what-is,
.how-can,
.is-there,
.what-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
}
.button {
  text-align: center;
  line-height: 80px;
}
.more-info {
  background-color: hsl(231, 69%, 60%);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.more-info:hover {
  background-color: hsl(229, 8%, 60%);
}
.svg {
  width: 12px;
  height: 8px;
  padding-right: 10px;
}
hr {
  background-color: rgb(228, 226, 226);
  width: 390px;
  height: 1px;
  border: none;
}
@media (max-width: 600px) {
  .frequently {
    font-size: 18px;
    margin: 14.94px 100px;
    text-align: center;
    line-height: 22px;
  }
  .faqs {
    width: 65%;
    font-size: 12px;
    line-height: 18px;
    padding: 0px 0px 10px;
  }
  .svg {
    width: 12px;
    height: 8px;
    padding-right: 0px;
  }
  .content-1 {
    gap: 132px;
  }
  .content-2 {
    gap: 47.02px;
  }
  .content-3 {
    gap: 115.77px;
  }
  .content-4 {
    gap: 19.44px;
  }
  .what-is,
  .how-can,
  .is-there,
  .what-about {
    font-size: 12px;
  }
  .button {
    text-align: center;
    line-height: 80px;
  }
  .more-info {
    background-color: hsl(231, 69%, 60%);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
  }
  hr {
    width: 250px;
  }
}

.A-container {
  background-color: #5266df;
  height: 45vh;
  text-align: center;
  color: white;
  top: 0;
  right: 0;
  margin-top: 10px;

  align-items: center;
}
.A-container {
  display: flex;
  flex-direction: column;
}
.footer-h5 {
  padding-top: 40px;
  font-weight: lighter;
  font-size: 12px;
  text-transform: uppercase;
}
.newsletter {
  height: 50px;
  display: flex;
  justify-content: center;
}
.tbox {
  height: 40px;
  width: 260px;
}
.btn {
  height: 50px;
  width: 120px;
  background: #fb5859;
  border: none;
  outline: none;
  color: aliceblue;

 .btn:hover{
  cursor: pointer;
  border: 2px solid #fb5859;
  color: #fb5859;
  background-color: white;
}
}
.footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #242946;
  padding: 28px, 12%;
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.logo a {
  list-style: none;
  text-decoration: none;
}
span {
  color: white;
  margin-right: 7px;
}

.logo-bookmark {
  width: 30px;
  margin-right: 7px;
}
.footer-navsection {
  margin-right: 600px;
}
.footer-nav {
  display: flex;
}
.footer-nav li {
  align-items: center;
  padding: 5px 0;
  margin: 0 20px;
  color: white;
  list-style: none;
  font-size: 10px;
  font-weight: lighter;
  text-transform: uppercase;
}
/*hover for list item*/
.footer-nav li:hover {
  color: red;
}

.footer-iconsection {
  margin-right: 400px;
}
.footer-icon {
  display: flex;
  align-items: center;
}
.footer-icon img {
  margin-right: 10px;
  margin-left: 5px;
}

@media screen and (max-width: 428px) {
  /*this styles the footer menu */

  .footer-menu {
    flex-direction: column;
    height: 45vh;
  }

  .footer-h5 {
    /* padding-top: 40px; */
    font-weight: lighter;
    font-size: 0.5rem;
    letter-spacing: 5px;
  }

  /* h1-heading */
  .h1-heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
  }

  .inner-first-footer {
    margin-top: 50px;
    width: 300px;
  }

  .btn {
    height: 40px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fb5859;
    border: none;
    outline: none;
    color: aliceblue;
  }

  .second-footer-section {
    flex-direction: column;
    height: 45vh;
  }

  .inner-second-footer {
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-nav {
    flex-direction: column;
  }

  .footer-navsection {
    margin: 0;
  }
}
